* , body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cesiumContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* Botón flotante */
#toggleModalBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  padding: 8px 12px;
  font-size: 16px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* Modal */
.modal {
  position: absolute;
  top: 60px;              /* Baja el modal para dejar espacio al botón o texto */
  left: 20px;             /* Alineado con el disparador */
  background-color: white;
  padding: 12px 16px;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: inline-block;   /* Ajusta el ancho al contenido */
  white-space: nowrap;     /* Evita que el texto se corte en múltiples líneas */
}

.modal-content h3 {
  margin-top: 0;
}

.hidden {
  display: none;
}


.subtitulo {
  font-weight: bold;
  margin-top: 6px;
  padding-left: 10px;
}


/* Botón de cerrar */
.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.dropdown {
  margin-top: 10px;
}

.dropdown-toggle {
  color: #007bff;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}


.dropdown-content {
  display: none;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
}

.dropdown.show .dropdown-content {
  display: block;
}
